footer {
    display: flex;
    height: 110px;
    background-color: $footer;
    .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: white;
            font-size: 15px;
            font-family: 'Noto Sans JP', sans-serif;
        }
    }
}